.addtocart{
  background-color: red;
    border-bottom: 6px solid black;
}


.purchase{
  background: green;
  color: white;
  padding: 1em !important;
}

.allButtons{
  display: flex;
  flex-direction: column;
  gap: 26px !important;
  align-items: center;
  justify-content: center;
}